__pycache__/
*.py[cod]
*.pyo
*.pyd

.DS_Store

config.toml
config.cc-switch.toml
config.claude.toml
config.claude-key.toml
config.claude-oauth.toml
config.openai.toml
config.openai-key.toml
config.openai-oauth.toml
data/

.pytest_cache/
.mypy_cache/
